.hello:link {
  color: orange;
}

.hello:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: lightgreen;
}

.hello:active {
  font-style: italic;
}

.hello:visited{
  color: red;
}

li:first-child a {
  color: green;
}

li:last-child a {
  color: green;
}

li:nth-child(5) a {
  color: grey;
}

li:nth-child(2n) a {
  color: green;
}

li:nth-child(2n-1) a {
  color: blue;
}

li:nth-child(even) a:hover {
  color: red;
}

/* 

li:nth-child(odd) a {
  color: green;
},untuk ganjil


li:nth-child(even) a {
  color: green;
},untuk genap

*/

p:first-of-type {
  color: red;
}

p:last-of-type {
  color: green;
}